# Анализ и предобработка датасета

In [1]:
# Установка библиотек
# %pip install kagglehub seaborn numpy pandas matplotlib
# %pip install ipywidgets
# %pip install scikit-learn
# %pip install torch torchvision --index-url https://download.pytorch.org/whl/cu130

## Импорт библиотек

In [2]:
# Импорт библиотек

import kagglehub
import os
import shutil
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# Загрузка датасета из Kaggle

source_path = kagglehub.dataset_download("amritachatterjee09/lead-scoring-dataset")

# Копирование в папку рядом с .ipynb
destination_path = os.path.join(os.getcwd(), "lead-scoring-dataset")
if not os.path.exists(destination_path):
    shutil.copytree(source_path, destination_path, dirs_exist_ok=True)
    print("Файлы датасета перенесены в:", destination_path)
else:
    print("Датасет уже скачан, используем локальную копию:", destination_path)

Датасет уже скачан, используем локальную копию: /home/deleted/LS_EDU/lead-scoring-dataset

In [4]:
print(os.getcwd())

/home/deleted/LS_EDU

In [5]:
df = pd.read_csv("lead-scoring-dataset/Lead Scoring.csv", low_memory=False)

In [6]:
df

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.00,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.50,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.00,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.00,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,19d6451e-fcd6-407c-b83b-48e1af805ea9,579564,Landing Page Submission,Direct Traffic,Yes,No,1,8.0,1845,2.67,...,No,Potential Lead,Mumbai,02.Medium,01.High,15.0,17.0,No,No,Email Marked Spam
9236,82a7005b-7196-4d56-95ce-a79f937a158d,579546,Landing Page Submission,Direct Traffic,No,No,0,2.0,238,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,19.0,No,Yes,SMS Sent
9237,aac550fe-a586-452d-8d3c-f1b62c94e02c,579545,Landing Page Submission,Direct Traffic,Yes,No,0,2.0,199,2.00,...,No,Potential Lead,Mumbai,02.Medium,01.High,13.0,20.0,No,Yes,SMS Sent
9238,5330a7d1-2f2b-4df4-85d6-64ca2f6b95b9,579538,Landing Page Submission,Google,No,No,1,3.0,499,3.00,...,No,NaN,Other Metro Cities,02.Medium,02.Medium,15.0,16.0,No,No,SMS Sent
9239,571b5c8e-a5b2-4d57-8574-f2ffb06fdeff,579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.00,...,No,Potential Lead,Other Cities,02.Medium,01.High,15.0,18.0,No,Yes,Modified

In [7]:
# Размер датасета

df.shape

(9240, 37)

In [8]:
# Типы данных

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [9]:
# Удаление идентификаторов

id_col = ['Prospect ID', 'Lead Number']
df = df.drop(columns=id_col)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 35 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Lead Origin                                    9240 non-null   object
 1   Lead Source                                    9204 non-null   object
 2   Do Not Email                                   9240 non-null   object
 3   Do Not Call                                    9240 non-null   object
 4   Converted                                      9240 non-null   int64
 5   TotalVisits                                    9103 non-null   float64
 6   Total Time Spent on Website                    9240 non-null   int64
 7   Page Views Per Visit                           9103 non-null   float64
 8   Last Activity                                  9137 non-null   object
 9   Country                                        6779 non-null   object
 10  Specialization                                 7802 non-null   object
 11  How did you hear about X Education             7033 non-null   object
 12  What is your current occupation                6550 non-null   object
 13  What matters most to you in choosing a course  6531 non-null   object
 14  Search                                         9240 non-null   object
 15  Magazine                                       9240 non-null   object
 16  Newspaper Article                              9240 non-null   object
 17  X Education Forums                             9240 non-null   object
 18  Newspaper                                      9240 non-null   object
 19  Digital Advertisement                          9240 non-null   object
 20  Through Recommendations                        9240 non-null   object
 21  Receive More Updates About Our Courses         9240 non-null   object
 22  Tags                                           5887 non-null   object
 23  Lead Quality                                   4473 non-null   object
 24  Update me on Supply Chain Content              9240 non-null   object
 25  Get updates on DM Content                      9240 non-null   object
 26  Lead Profile                                   6531 non-null   object
 27  City                                           7820 non-null   object
 28  Asymmetrique Activity Index                    5022 non-null   object
 29  Asymmetrique Profile Index                     5022 non-null   object
 30  Asymmetrique Activity Score                    5022 non-null   float64
 31  Asymmetrique Profile Score                     5022 non-null   float64
 32  I agree to pay the amount through cheque       9240 non-null   object
 33  A free copy of Mastering The Interview         9240 non-null   object
 34  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(2), object(29)
memory usage: 2.5+ MB

In [11]:
# Список столбцов с огромным количеством пропусков
nan_col = [
    'Lead Quality',
    'Asymmetrique Activity Index',
    'Asymmetrique Profile Index',
    'Asymmetrique Activity Score',
    'Asymmetrique Profile Score'
]

print('Доля пропусков (%) по этим столбцам:')
print((df[nan_col].isna().mean() * 100).round(2))

for col in nan_col:
    print(f"\n{col} — значения:")
    print(df[col].value_counts(dropna=False).head())

Доля пропусков (%) по этим столбцам:
Lead Quality                   51.59
Asymmetrique Activity Index    45.65
Asymmetrique Profile Index     45.65
Asymmetrique Activity Score    45.65
Asymmetrique Profile Score     45.65
dtype: float64

Lead Quality — значения:
Lead Quality
NaN                  4767
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Name: count, dtype: int64

Asymmetrique Activity Index — значения:
Asymmetrique Activity Index
NaN          4218
02.Medium    3839
01.High       821
03.Low        362
Name: count, dtype: int64

Asymmetrique Profile Index — значения:
Asymmetrique Profile Index
NaN          4218
02.Medium    2788
01.High      2203
03.Low         31
Name: count, dtype: int64

Asymmetrique Activity Score — значения:
Asymmetrique Activity Score
NaN     4218
14.0    1771
15.0    1293
13.0     775
16.0     467
Name: count, dtype: int64

Asymmetrique Profile Score — значения:
Asymmetrique Profile Score
NaN     4218
15.0    1759
18.0    1071
16.0     599
17.0     579
Name: count, dtype: int64

In [12]:
# Удаление столбцов с большим количеством пропусков

df = df.drop(columns=nan_col)
df.shape

(9240, 30)

In [13]:

# Список колонок, где встречаются заглушки

select_col = [
    'Specialization',
    'How did you hear about X Education',
    'What is your current occupation',
    'What matters most to you in choosing a course',
    'Lead Profile',
    'City',
    'Country',
    'Tags'
]

# слова  заглушки

placeholders = [
    'Select', 'Select City', 'Select Specialization',
    'Not specified', 'Unknown', 'Other'
]

# замена заглушек в анкетах

for col in select_col:
    if col in df.columns:
        df[col] = df[col].replace(placeholders, np.nan)

df[select_col].head()

,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Lead Profile,City,Country,Tags
0,NaN,NaN,Unemployed,Better Career Prospects,NaN,NaN,NaN,Interested in other courses
1,NaN,NaN,Unemployed,Better Career Prospects,NaN,NaN,India,Ringing
2,Business Administration,NaN,Student,Better Career Prospects,Potential Lead,Mumbai,India,Will revert after reading the email
3,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,NaN,Mumbai,India,Ringing
4,NaN,NaN,Unemployed,Better Career Prospects,NaN,Mumbai,India,Will revert after reading the email

In [14]:
# маппинг столбцов

map_col = [
    'Do Not Email', 'Do Not Call', 'Search', 'Magazine', 'Newspaper Article',
    'X Education Forums', 'Newspaper', 'Digital Advertisement',
    'Through Recommendations', 'Receive More Updates About Our Courses',
    'Update me on Supply Chain Content', 'Get updates on DM Content',
    'I agree to pay the amount through cheque',
    'A free copy of Mastering The Interview'
]

for col in map_col:
    if col in df.columns:
        df[col] = df[col].map({'Yes': 1, 'No': 0})

df[map_col].head()

,Do Not Email,Do Not Call,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Update me on Supply Chain Content,Get updates on DM Content,I agree to pay the amount through cheque,A free copy of Mastering The Interview
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
# нормализация регистр на примере Google/google
col_to_normalize = ['Lead Source', 'Lead Origin', 'Country', 'City']
for col in col_to_normalize:
    if col in df.columns:
        df[col] = df[col].str.strip().str.title()

In [16]:
# распределение данных

categorical_col = [
    'Lead Origin', 'Lead Source', 'Last Activity', 'Country', 'Specialization',
    'How did you hear about X Education', 'What is your current occupation',
    'What matters most to you in choosing a course', 'Lead Profile',
    'City', 'Tags', 'Last Notable Activity'
]

for col in categorical_col:
    print("\n---", col, "---")
    print(df[col].value_counts(dropna=False).head(20))

--- Lead Origin ---
Lead Origin
Landing Page Submission    4886
Api                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: count, dtype: int64

--- Lead Source ---
Lead Source
Google               2873
Direct Traffic       2543
Olark Chat           1755
Organic Search       1154
Reference             534
Welingak Website      142
Referral Sites        125
Facebook               55
NaN                    36
Bing                    6
Click2Call              4
Live Chat               2
Social Media            2
Press_Release           2
Pay Per Click Ads       1
Blog                    1
Welearn                 1
Welearnblog_Home        1
Youtubechannel          1
Testone                 1
Name: count, dtype: int64

--- Last Activity ---
Last Activity
Email Opened                    3437
SMS Sent                        2745
Olark Chat Conversation          973
Page Visited on Website          640
Converted to Lead                428
Email Bounced                    326
Email Link Clicked               267
Form Submitted on Website        116
NaN                              103
Unreachable                       93
Unsubscribed                      61
Had a Phone Conversation          30
Approached upfront                 9
View in browser link Clicked       6
Email Marked Spam                  2
Email Received                     2
Resubscribed to emails             1
Visited Booth in Tradeshow         1
Name: count, dtype: int64

--- Country ---
Country
India                   6492
NaN                     2461
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Bahrain                    7
Oman                       6
France                     6
Unknown                    5
Kuwait                     4
South Africa               4
Nigeria                    4
Germany                    4
Canada                     4
Sweden                     3
Name: count, dtype: int64

--- Specialization ---
Specialization
NaN                                  3380
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Media and Advertising                 203
Travel and Tourism                    203
International Business                178
Healthcare Management                 159
Hospitality Management                114
E-COMMERCE                            112
Retail Management                     100
Rural and Agribusiness                 73
E-Business                             57
Services Excellence                    40
Name: count, dtype: int64

--- How did you hear about X Education ---
How did you hear about X Education
NaN                      7436
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
SMS                        23
Name: count, dtype: int64

--- What is your current occupation ---
What is your current occupation
Unemployed              5600
NaN                     2706
Working Professional     706
Student                  210
Housewife                 10
Businessman                8
Name: count, dtype: int64

--- What matters most to you in choosing a course ---
What matters most to you in choosing a course
Better Career Prospects      6528
NaN                          2710
Flexibility & Convenience       2
Name: count, dtype: int64

--- Lead Profile ---
Lead Profile
NaN                            6855
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: count, dtype: int64

--- City ---
City
NaN                            3669
Mumbai                         3222
Thane & Outskirts               752
Other Cities                    686
Other Cities Of Maharashtra     457
Other Metro Cities              380
Tier Ii Cities                   74
Name: count, dtype: int64

--- Tags ---
Tags
NaN                                                  3353
Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Want to take admission but has financial problems       6
Name: count, dtype: int64

--- Last Notable Activity ---
Last Notable Activity
Modified                        3407
Email Opened                    2827
SMS Sent                        2172
Page Visited on Website          318
Olark Chat Conversation          183
Email Link Clicked               173
Email Bounced                     60
Unsubscribed                      47
Unreachable                       32
Had a Phone Conversation          14
Email Marked Spam                  2
Approached upfront                 1
Resubscribed to emails             1
View in browser link Clicked       1
Form Submitted on Website          1
Email Received                     1
Name: count, dtype: int64

In [17]:
# Заполняем все указанные категориальные столбцы значением Unknown
nknown_col = [
    'City',
    'How did you hear about X Education',
    'What is your current occupation',
    'What matters most to you in choosing a course',
    'Lead Profile',
    'Country',
    'Lead Source',
    'Specialization',
    'Tags'
]

for col in nknown_col:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown')

In [18]:
# проверка

df[['Lead Source','Country','City','Specialization','Tags']].head(10)

,Lead Source,Country,City,Specialization,Tags
0,Olark Chat,Unknown,Unknown,Unknown,Interested in other courses
1,Organic Search,India,Unknown,Unknown,Ringing
2,Direct Traffic,India,Mumbai,Business Administration,Will revert after reading the email
3,Direct Traffic,India,Mumbai,Media and Advertising,Ringing
4,Google,India,Mumbai,Unknown,Will revert after reading the email
5,Olark Chat,Unknown,Unknown,Unknown,Unknown
6,Google,India,Mumbai,Supply Chain Management,Will revert after reading the email
7,Olark Chat,Unknown,Unknown,Unknown,Unknown
8,Direct Traffic,India,Thane & Outskirts,IT Projects Management,Unknown
9,Google,India,Mumbai,Finance Management,Unknown

In [19]:
df.isnull().sum()

Lead Origin                                        0
Lead Source                                        0
Do Not Email                                       0
Do Not Call                                        0
Converted                                          0
TotalVisits                                      137
Total Time Spent on Website                        0
Page Views Per Visit                             137
Last Activity                                    103
Country                                            0
Specialization                                     0
How did you hear about X Education                 0
What is your current occupation                    0
What matters most to you in choosing a course      0
Search                                             0
Magazine                                           0
Newspaper Article                                  0
X Education Forums                                 0
Newspaper                                          0
Digital Advertisement                              0
Through Recommendations                            0
Receive More Updates About Our Courses             0
Tags                                               0
Update me on Supply Chain Content                  0
Get updates on DM Content                          0
Lead Profile                                       0
City                                               0
I agree to pay the amount through cheque           0
A free copy of Mastering The Interview             0
Last Notable Activity                              0
dtype: int64

In [20]:
# Определяем числовые признаки (исключаем целевую переменную)
num_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()
num_cols = [c for c in num_cols if c not in ['Converted']]

# Заполняем пропуски в числовых признаках медианами, чтобы избежать смещения распределения и убрать NaN
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

# Определяем категориальные признаки
cat_cols = df.select_dtypes(include=['object']).columns.tolist()
for col in cat_cols:
    df[col] = df[col].fillna('Unknown')
    
# Проверяем количество колонок каждого типа
len(num_cols), len(cat_cols)

(17, 12)

In [21]:
# Проверяем, остались ли пропуски в данных после заполнения

df.isnull().sum()

Lead Origin                                      0
Lead Source                                      0
Do Not Email                                     0
Do Not Call                                      0
Converted                                        0
TotalVisits                                      0
Total Time Spent on Website                      0
Page Views Per Visit                             0
Last Activity                                    0
Country                                          0
Specialization                                   0
How did you hear about X Education               0
What is your current occupation                  0
What matters most to you in choosing a course    0
Search                                           0
Magazine                                         0
Newspaper Article                                0
X Education Forums                               0
Newspaper                                        0
Digital Advertisement                            0
Through Recommendations                          0
Receive More Updates About Our Courses           0
Tags                                             0
Update me on Supply Chain Content                0
Get updates on DM Content                        0
Lead Profile                                     0
City                                             0
I agree to pay the amount through cheque         0
A free copy of Mastering The Interview           0
Last Notable Activity                            0
dtype: int64

In [22]:
# Подсчитываем количество полностью повторяющихся строк в датасете

df.duplicated().sum()

np.int64(1549)

In [23]:
# Удаляем повторяющиеся строки

df = df.drop_duplicates().reset_index(drop=True)

# Проверяем общее количество строк и столбцов после очистки
df_shape = df.shape

# Считаем, сколько объектов относится к каждому классу целевой переменной.
class_counts = df['Converted'].value_counts()

# Смотрим долю каждого класса, чтобы оценить возможный дисбаланс.
class_ratio = df['Converted'].value_counts(normalize=True)

df_shape, class_counts, class_ratio

((7691, 30),
 Converted
 0    4635
 1    3056
 Name: count, dtype: int64,
 Converted
 0    0.602652
 1    0.397348
 Name: proportion, dtype: float64)

In [ ]:
# добавление нового признака недавнего контакта по активности
contact_events = {
    'Had a Phone Conversation',
    'Visited Booth in Tradeshow',
    'Approached upfront',
    'Email Opened',
    'Email Received',
    'Email Link Clicked',
    'SMS Sent',
    'Form Submitted on Website',
    'Olark Chat Conversation',
    'View in browser link Clicked',
    'Page Visited on Website'
}

def _recent_contact(row):
    return int((row.get('Last Activity') in contact_events) or (row.get('Last Notable Activity') in contact_events))

df['Recent_Contact'] = df.apply(_recent_contact, axis=1)
df['Recent_Contact'].value_counts(normalize=True)